html,body{
	height: auto !important;
}
#mf-nav{
	/*margin-bottom: 100px;*/
}
.mf-content{
	width: 1240px;
	margin: 0 auto;
	
}
#mf-main{
	margin-top: 160px;
}
#mf-main .mf-area{
	width: 818px;
	margin: 0 auto;
	
}
#mf-main .mf-area>ul:first-child{
	margin-left: 26px;
}
#mf-main .mf-area .mf-wire{
	width: 310px;
	padding: 0 20px;
}
#mf-main .mf-area .mf-wire1{
	width: 310px;
	padding: 0 20px;
}
#mf-main .mf-area .mf-wire img{
	width: 310px;
}
#mf-main .mf-area .mf-text li{
	font: 18px "微软雅黑";
	color: #999999;
	margin-top: 32px;
}
#mf-main .mf-area .mf-text li:first-child{
	padding-right: 300px;
	color: #333333;
}
#mf-main .mf-area .mf-text li:nth-child(2){
	padding-right: 284px;
}
#mf-main .mf-area>p span{
	font: 18px "微软雅黑";
	margin-right: 40px;
}
#mf-main .mf-area>p input{
	width: 378px;
	height: 50px;
	border: solid 1px #E5E5E5;
	border-radius: 4px;
	font: 16px "微软雅黑";
	text-indent: 24px;
}

#mf-main .mf-area>p:nth-child(3){
	width: 484px;
	margin: 150px auto 20px;
}

#mf-main .mf-area>p:nth-child(4){
	width: 556px;
	margin: 0 auto 50px;
}
#mf-main .mf-area>div{
	width: 180px;
	height: 50px;
	border-radius: 4px;
	background-color: #000000;
	font: 18px "微软雅黑";
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	margin-bottom: 93px;
	margin-left: 260px;
	cursor: pointer;
}

/* 1024px 适配 */
@media only screen and (max-width: 1024px) {
	.mf-content{
		width: 1000px;
	}
}

