
.ie_box h3 {
    margin-bottom: 10px;
}

#iealertBox .modal-dialog {
    max-width: 700px;
    width: 700px;
}

.modal-backdrop {
    z-index: 1030;
}

.ie_box a {
    display: block;
    float: left;
    width: 125px;
    height: 140px;
    overflow: hidden;
    margin-right: 5px;
    border: none;
    margin-top: 10px;
}

.container {
    width: 1024px;
}

.ie_header {
    width: 100%;
    height: 94px;
    background: url("../img/nav_bg.png") repeat-x;
    border: none;
    position: fixed;
    z-index: 1;
}

.ie_header.ie_navbar_bg {
    background: #333333;
}

.navbar-header {
    float: left;
}

.navbar-default .navbar-toggle {
    display: none;
}

.nav_header .collapse {
    display: block;
    height: 94px !important;
    visibility: inherit;
    float: right;
    border: none;
}

.nav_header .navbar-collapse .navbar-nav {
    margin-top: 0px;
}

.navbar-nav {
    float: left;
}

.navbar-form {
    float: left;
}

.navbar-default {
    background: none;
    min-height: inherit;
}

.nav > LI {
    float: left;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    overflow: hidden;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    overflow: hidden;
}

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: 8.33333333%;
}

.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.66666667%;
}

.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
}

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333333%;
}

.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: 41.66666667%;
}

.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: 58.33333333%;
}

.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: 66.66666667%;
}

.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: 75%;
}

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: 83.33333333%;
}

.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: 91.66666667%;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}

.col-md-offset-1 {
    margin-left: 8.33333333%;
}

.col-md-offset-4 {
    margin-left: 33.33333333%;
}

.col-md-offset-2 {
    margin-left: 16.66666667%;
}

.code {
    max-width: inherit;
    width: 100%;
}

.login_page .col-sm-6.col-xs-12 {
    width: 50%;
}

.login_page .col-sm-4.col-xs-12 {
    width: 33.33%;
}

.login_page .col-xs-3.col-sm-4 {
    width: 33.33%;
}

.login_page .col-xs-9.col-sm-6 {
    width: 50%;
}

.other_img {
    display: none;
}

.ie_img {
    display: block;
}

.modal-dialog {
    width: 600px;
}

.case_nav .dropdown-menu {
    left: inherit;
    right: 0px;
}

.navbar .case_nav .dropdown-menu {
    max-width: 100px;
    min-width: inherit;
}

#showTable .col-xs-12.col-sm-4 {
    width: 33.33%;
}
