<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-lazy-init="true"
       default-autowire="byName">

    <description>Spring public settings</description>

    <context:property-placeholder ignore-resource-not-found="true"
                                  location="classpath:mysql.properties,classpath:redis.properties"/>
    <context:annotation-config/>
    <context:component-scan base-package="cn.getcube.develop.*"/>

    <!-- Spring quartz -->
    <bean id="stdScheduler" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:mysql.properties"/>
    </bean>

    <import resource="classpath*:developesDatabase.xml" />
    <import resource="classpath*:cubeDatabase.xml" />

    <!-- redis集群 -->
    <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg index="0">
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="114.112.101.156"/>
                    <constructor-arg index="1" value="7000" type="int"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="114.112.101.156"/>
                    <constructor-arg index="1" value="7001" type="int"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="114.112.101.157"/>
                    <constructor-arg index="1" value="7002" type="int"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="114.112.101.157"/>
                    <constructor-arg index="1" value="7003" type="int"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="103.6.222.234"/>
                    <constructor-arg index="1" value="7006" type="int"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="103.6.222.234"/>
                    <constructor-arg index="1" value="7007" type="int"/>
                </bean>
            </set>
        </constructor-arg>
        <constructor-arg index="1" value="${redis.timeOut}"></constructor-arg>
        <constructor-arg index="2" value="${redis.maxTotal}"></constructor-arg>
        <constructor-arg index="3" value="${redis.maxConnctions}"></constructor-arg>
        <constructor-arg index="4" value="${redis.pass}"></constructor-arg>
        <constructor-arg index="5" ref="jedisPoolConfig"></constructor-arg>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"></bean>

    <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true"/>

    <!-- dao 接口注入-->
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.UserDao"/>

    <bean id="certifiedDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.CertifiedDao"/>

    <bean id="appDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.AppDao"/>

    <bean id="nodeDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.NodeDao"/>

    <bean id="loginLogDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.cube.LoginLogDao" />

    <bean id="feedbackDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.FeedbackDao" />

    <bean id="sdkDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.SdkDao"/>

    <bean id="chatKeFuDao" class="org.mybatis.spring.mapper.MapperFactoryBean"
          p:mapperInterface="cn.getcube.develop.dao.developes.ChatKeFuDao"/>

    <!-- ====================== Additional Resources ======================= -->

</beans>